<div class="scroll-container">
  <button class="button esquerda" (click)="scrollEsquerda()">&#8249;</button>
<div class="novosjogos">
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=440&thumb=false" alt="">
		</div>
			<p>EA SPORTS FC™ 24</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440&thumb=false" alt="">
		</div>
			<p> Mortal Kombat 1</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202306/2609/278035a1f94e3a07d4d0f74cd61b987af14a833b65a56cd2.png?w=440&thumb=false" alt="">
		</div>
			<p>NBA 2K24</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202302/2321/ba706e54d68d10a0eb6ab7c36cdad9178c58b7fb7bb03d28.png?w=440&thumb=false" alt="">
		</div>
			<p>Baldur's Gate 3</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/2308/06b354c8015b3c71e54f43aa883aab4641285d4a91734681.png?w=440&thumb=false" alt="">
		</div>
			<p>Lies of P</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png?w=440&thumb=false" alt="">
		</div>
			<p>The Crew Motorfest</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/2616/74efe3cba65d7ac5f08389b840602fa8349b075c4753901e.png?w=440&thumb=false" alt="">
		</div>
			<p>Payday 3</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440&thumb=false" alt="">
		</div>
			<p>Mortal Kombat 1</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202307/0401/f308c616a571f6b9d78f0fe91fc81255de25db2b23007b6d.png?w=440&thumb=false" alt="">
		</div>
			<p>Fate/Samurai Remnant</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202304/2622/4e22f368d69944cb9a679daab57548668642566a3b419c4e.png?w=440&thumb=false" alt="">
		</div>
			<p>MY HERO ULTRA RUMBLE</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202308/1512/a800dc5a941af33b5f7b7371f907a0fe26f3c435e4c20f60.png?w=440&thumb=false" alt="">
		</div>
			<p>Totally Accurate Battle Simulator</p>
	</div>

</div>
	<button class="button direita" (click)="scrollDireita()">&#8250;</button>
</div>

