
	<div class="footer__container">
			<div class="footer__logo">
					<img src="assets/playstation.png" alt="PlayStation Logo" width="50px" height="50px" style="margin-right: 50px;">
					<br>
					<a style="display: flex; align-items: center">
							<img src="assets/geografia.png" alt="Geografia" width="32px" height="32px" >
							<span style="line-height: 5; margin-left: 5px;" >País/região: Brasil</span>
					</a>
			</div>
			<div class="footer__menu">
					<ul>
							<li><a routerLink="/">Início</a></li>
							<li><a routerLink="/ps4">PlayStation 4</a></li>
							<li><a routerLink="/ps5">PlayStation 5</a></li>
							<li><a href="https://github.com/DurezahGeek">GitHub</a></li>
							<li><a href="https://www.linkedin.com/in/biatriz-meirelles-70729b1a0/">LinkedIn</a></li>
							<li><a href="https://www.playstation.com/pt-br/support/">Suporte</a></li>
							<li><a href="https://www.playstation.com/pt-br/legal/privacy-policy/">Política de privacidade</a></li>
							<li><a href="https://www.playstation.com/pt-br/legal/website-terms-of-use/">Termos de uso do site</a></li>
							<li><a href="https://www.playstation.com/pt-br/site-map/">Mapa do site</a></li>
							<li><a href="https://www.playstation.com/pt-br/corporate/playstation-studios/">PlayStation Studios</a></li>
							<li><a href="https://www.playstation.com/pt-br/legal/">Jurídico</a></li>
							<li><a href="https://www.playstation.com/pt-br/corporate/about-us/">Sobre a SIE</a></li>
							<li><a href="https://www.facebook.com/PlayStationBR">Facebook</a></li>
							<li><a href="https://twitter.com/PlayStation_BR">Twitter</a></li>
							<li><a href="https://www.youtube.com/user/PlayStationBR">Youtube</a></li>
							<li><a href="https://www.instagram.com/playstation_br/">Instagram</a></li>
					</ul>
			</div>
			<div class="footer">
			© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.
		</div>
	</div>


