<div class="ps4__container">
	<app-card
		gameCapa="https://cdn1.epicgames.com/f9a21c4ce910440d82b83b01d1c48c5e/offer/ASSA_STD_Store_Portrait-860x1148-1900e7c91c1a913a9e754e3d98a41372.jpg"
		gameNome="Assassin's Creed"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$259,90"
		>
	</app-card>
	<app-card
		gameCapa="https://cdn1.epicgames.com/offer/clary/ACOdyssey_STD_Store_Portrait_1200x1600_1200x1600-3add642bad2d1207487527d53d715220"
		gameNome="Assassin's Creed Odyssey"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$301,90"
	>
	</app-card>
	<app-card
		gameCapa="https://m.media-amazon.com/images/M/MV5BZDVkYmM4MmMtOTgwNS00NTIzLWJiNmUtMGI3MjdlMzUzODhkXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_FMjpg_UX1000_.jpg"
		gameNome="Battlefield Bad Company 2"
		gameLabel="EXCLUSIVE"
		gameTipo="DISC | PS4"
		gamePreco="Gratuito"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/cdn/UP9000/CUSA00900_00/b5uuNMulpxnRpWZDG7lPexwMY7i9Pns7.png"
		gameNome="Bloodhorne"
		gameLabel="DISC"
		gameTipo="DISC | PS4"
		gamePreco="R$99,50"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202008/2111/kZuu7RcHultdoVUuGsReuGcq.png"
		gameNome="Control"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$214,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/cdn/UP0700/CUSA03388_00/v8JlD8KcQUtTqaLBmpFnj1ESRR5zMkLk.png"
		gameNome="Dark Souls III"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$249,99"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/img/rnd/202009/2921/rS7dirQTbNRco8GdBQdeLV2d.png"
		gameNome="Death Stranding"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$249,50"
		>
	</app-card>
	<app-card
		gameCapa="https://m.media-amazon.com/images/I/71kfKfo3OoL._AC_UF1000,1000_QL80_.jpg"
		gameNome="Final Fantasy VII"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$149,50"
		>
	</app-card>
	<app-card
		gameCapa="https://m.media-amazon.com/images/I/51FjX9vbugL._AC_UF1000,1000_QL80_.jpg"
		gameNome="Fortnite"
		gameLabel="EXCLUSIVE"
		gameTipo="DIGITAL | PS4"
		gamePreco="Gratuito"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202010/0222/9h423wCC1FFb8tknYFAU4NC9.png"
		gameNome="Ghost"
		gameLabel="EXCLUSIVE"
		gameTipo="DISC | PS4"
		gamePreco="R$146,95"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png"
		gameNome="God Of War"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png"
		gameNome="Horizon Forbidden West"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/img/rnd/202009/2923/jAT7HjpL49A62bU7hLKXJ96b.png"
		gameNome="Horizon Zero Dawn"
		gameLabel="NEW"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$251,57"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/cdn/UP1018/CUSA11228_00/8lQ1y71vNA55ndiuSgWUSz6nqz3g0xR0.png"
		gameNome="Injustice 2"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$29,99"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202010/0205/dyvo9eGUf7WTZx49eTpQyDuL.png"
		gameNome="Metal Gear Solid V"
		gameLabel="DISC"
		gameTipo="DISC | PS4"
		gamePreco="R$83,50"
		>
	</app-card>
	<app-card
		gameCapa="https://cdn-products.eneba.com/resized-products/w5YZb_yZb_YlQPQSVgnEEqvs_uJD8V_GpAHFzKpPNv0_350x200_3x-0.jpeg"
		gameNome="Monster Hunter World Iceborne"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$124,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/img/cfn/113073qYZHyiDU5-4vu9krqfIPdGCvcGob0VpazrmfyUEbn4qZ64XBJfRKHvwa_tStB4nMD3UDv4Cb9V3iTH6cJymhQ1sJiU.png"
		gameNome="Personas 5 Royal "
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$299,90"
		>
	</app-card>
	<app-card
		gameCapa="https://store-images.s-microsoft.com/image/apps.34695.13738414994700897.d5f58586-d72e-41d4-84db-1e7957867558.fea84892-88a9-44cf-98d3-07bda55b2444"
		gameNome="Red Dead Redemption II"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="Gratuito"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/cdn/UP0082/CUSA05794_00/HzYMHoXoANNfVJ5BlxcTJ8bpCHCW3j8j.png"
		gameNome="Rise Of The Tomb Raider"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$29,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202206/0608/X0d8lyfDPwm2JdJS5RrU0rj1.png"
		gameNome="Resident Evil 2"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$199,50"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/img/rnd/202010/2823/13c4K2rs7knjs7aMjTAL4mib.png"
		gameNome="Shadow Of The Colossus"
		gameLabel="NEW"
		gameTipo="DISC | PS4"
		gamePreco="R$99,50"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/img/rnd/202010/2618/Y02ljdBodKFBiziorYgqftLE.png"
		gameNome="The Last Of Us Part II"
		gameLabel="DISC"
		gameTipo="DISC | PS4"
		gamePreco="R$249,50"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202211/0714/ojKZ7l0T2M5egR9YHIjVhI0R.png"
		gameNome="The Witcher 3: Wild Hunt"
		gameLabel="NEW"
		gameTipo="DIGITAL | PS4"
		gamePreco="R$207,90"
		>
	</app-card>
	<app-card
		gameCapa="https://m.media-amazon.com/images/I/91grctgwzFL._AC_UF1000,1000_QL80_.jpg"
		gameNome="Uncharted 4: A Thief's End"
		gameLabel="DIGITAL"
		gameTipo="DISC | PS4"
		gamePreco="R$99,50"
		>
	</app-card>
	</div>

