<div class="home__container">

<div class="card__importante">
<app-card-importante
	gameCapa="assets/fundo2.png"
	gameNome="EA SPORTS FC™ 24"
	gameTexto="Jogue ultimate team agora"
></app-card-importante>
</div>

<div class="card__container">
<app-card-inicial
	gameCapa="https://image.api.playstation.com/pr/bam-art/159/265/142dd38e-df8f-4663-823c-2d4d1a1bd3e4.jpg?w=440&thumb=false"
	>
</app-card-inicial>

<app-card-inicial
	gameCapa="https://image.api.playstation.com/pr/bam-art/163/945/3247ac35-8737-4e6f-9c6b-e7d617ab8de0.png?w=440&thumb=false"
	>
</app-card-inicial>

<app-card-inicial
	gameCapa="https://image.api.playstation.com/pr/bam-art/164/146/4af6f4da-9fb5-4bfa-b4f2-51eba537e4cd.png?w=440&thumb=false"
	>
</app-card-inicial>

<app-card-inicial
	gameCapa="https://image.api.playstation.com/pr/bam-art/161/541/132983c7-9156-467d-a9b0-e95a64ab6114.jpg?w=440&thumb=false"
	>
</app-card-inicial>
</div>

<p> 10 melhores jogos no seu país </p>
<app-melhoresjogos></app-melhoresjogos>

<p> Novos jogos </p>
<app-novosjogos></app-novosjogos>

<app-card-principal
	gameCapa="https://image.api.playstation.com/pr/bam-art/146/087/c2365174-0742-4f05-9dc9-210b8bed59f4.jpg?w=1920&thumb=false"
	gameTexto="Inscreva-se gratuitamente, complete missões e ganhe recompensas"
	>
</app-card-principal>

</div>
