<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img src="assets/ps-logo.png" alt="" srcset="" width="200px" height="45px">
	</div>
	<div class="menu-bar__item">
		<ul>

		<li><a routerLink="/" style="background-color: rgb(210, 212, 221); border-radius: 30px; border: 2px solid rgb(3, 94, 168);">Início</a></li>

		<li><a routerLink="/ps4">PS4</a></li>

		<li><a routerLink="/ps5">PS5</a></li>

		<li><a href="https://github.com/DurezahGeek">GitHub</a></li>

		<li><a href="https://www.linkedin.com/in/biatriz-meirelles-70729b1a0/">LinkedIn</a></li>

		</ul>
	</div>
</div>

