<div class="ps5__container">
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/NFf86jgU4AeVYgJBEoEKBpxW.jpg"
		gameNome="Assassin's Creed® Mirage"
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$239,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202306/0113/38ad0cc5b92af440d46ccebf5d1f271213d656684fce3385.png"
		gameNome="Avatar: Frontiers of Pandora"
		gameLabel="EXCLUSIVE"
		gameTipo="DISC | PS5"
		gamePreco="R$529,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202308/1910/342e7f53aecc880531dbfcf9ea0119e8170055c1d3aa85a1.png"
		gameNome="CUSTOM MECH WARS"
		gameLabel="EXCLUSIVE"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$264,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202308/3008/14981b706fb092042e01696cdce2af4d9c4ded0dd345578c.png"
		gameNome="Destiny 2: A Forma Final"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$449,50"
	>
	</app-card>
	<app-card
		gameCapa="https://cdn1.epicgames.com/spt-assets/03e531531e934f959b6d0e9763f9a0cc/dungeons-4-nt23p.png"
		gameNome="Dungeons 4"
		gameLabel="NEW"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$299,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202308/3119/da06a1eea20561caf374519d1ae0b1505cafe57e60b76b41.png"
		gameNome="Expansão Tales of Arise"
		gameLabel="DISC"
		gameTipo="DISC | PS5"
		gamePreco="R$159,90"
		>
	</app-card>
	<app-card
		gameCapa="https://store-images.s-microsoft.com/image/apps.33102.14185540669615557.25b73542-9e4d-435d-8274-2d116c5df7b7.09798157-18a5-4bc8-9772-3f07eff95dac?format=jpg&w=330&h=330"
		gameNome="FINAL FANTASY VII"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$189,99"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202308/0403/c72af8212e6bfbe853cb3769b3b6513d0685a497227c23ad.png"
		gameNome="Granblue Fantasy: Relink Special "
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$399,50"
		>
	</app-card>
	<app-card
		gameCapa="https://www.giantbomb.com/a/uploads/scale_small/0/1992/3475762-6544116215-libra.jpg"
		gameNome="Headbangers: Rhythm Royale"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$104,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202309/0718/ca77865b4bc8a1ea110fbe1492f7de8f80234dd079fc181a.png"
		gameNome="HELLDIVERS™ 2"
		gameLabel="DISC"
		gameTipo="DISC | PS5"
		gamePreco="R$199,50"
		>
	</app-card>
	<app-card
		gameCapa="https://videogamesplus.ca/cdn/shop/files/811994024008-PS5-RP_561x700.jpg?v=1694098237"
		gameNome="Jagged Alliance 3"
		gameLabel="NEW"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$299,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202309/0521/f4da6f7691c7d0daf2b7c41b9f8fed6ceaaf2db1dfe813ff.png"
		gameNome="Like a Dragon: Infinite Wealth"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://media.graphassets.com/resize=w:960,h:960,fit:crop/sharpen=amount:1/output=quality:95,strip:true/auto_image/jhGZyzdHTiuo5wrK5tvg"
		gameNome="Lords of the Fallen"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/60eca3ac155247e21850c7d075d01ebf0f3f5dbf19ccd2a1.jpg"
		gameNome="Marvel's Spider-Man 2"
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$399,50"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202302/2407/06ae9175e65c0965e44b12b4f34f7fe5aa491bbf7e5ce5c6.png"
		gameNome="NARUTO X BORUTO"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$299,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202307/2601/333c9751b0c84a97d59eb6237a328c73df2a4066d43dded7.png"
		gameNome="Persona 3 Reloaad"
		gameLabel="EXCLUSIVE"
		gameTipo="DISC | PS5"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202305/2417/c633c1b79cab71e09a81e4857e8cc07c8e5691a65c6acb5a.png"
		gameNome="Persona 5 Tactica"
		gameLabel="DISC"
		gameTipo="DISC | PS5"
		gamePreco="R$399,50"
		>
	</app-card>
	<app-card
		gameCapa="https://cdns-images.dzcdn.net/images/artist/51203df023bf254fb0e85ceed1ebb4dc/500x500.jpg"
		gameNome="Prince of Persia The Lost Crown"
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$239,90"
		>
	</app-card>
	<app-card
		gameCapa="https://bdjogos.com.br/capas/18854-robocop-rogue-city-capa-1.jpg"
		gameNome="RoboCop: Rogue City"
		gameLabel="DIGITAL"
		gameTipo="DISC | PS5"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/cdn/UP2205/CUSA02003_00/3HbSG4NOjJqvrmLmG9ysz5RxGSQ037cZ.png"
		gameNome="Slender: The Arrival"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$104,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202307/2416/9fb7d209dbb62357ddd5c305f6019a97238fc1bd1b540560.png"
		gameNome="SONIC SUPERSTARS"
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$299,90"
		>
	</app-card>
	<app-card
		gameCapa="https://bdjogos.com.br/capas/18336-tekken-8-capa-1.jpg"
		gameNome="TEKKEN 8"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$349,90"
		>
	</app-card>
	<app-card
		gameCapa="https://image.api.playstation.com/vulcan/ap/rnd/202305/1110/2a9540525fbc884c9b056b79e03f887e3eab0f313e0ca4a2.png"
		gameNome="Vampire: The Masquerade - Justice"
		gameLabel="NEW"
		gameTipo="DISC | PS5"
		gamePreco="R$149,50"
		>
	</app-card>
	<app-card
		gameCapa="https://cdn1.epicgames.com/offer/0f4a57443f904107818acfc2068704f9/EGS_WarhammerAgeofSigmarRealmsofRuin_FrontierDevelopments_S2_1200x1600-6994c34a7f0ce82b23c256bee707e18e"
		gameNome="Warhammer Age of Sigmar"
		gameLabel="DIGITAL"
		gameTipo="DIGITAL | PS5"
		gamePreco="R$299,90"
		>
	</app-card>

	</div>
