<div class="scroll-container">
  <button class="button esquerda" (click)="scrollEsquerda()">&#8249;</button>
<div class="melhoresjogos">
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=440&thumb=false" alt="">
		</div>
			<p>EA SPORTS FC™ 24</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202308/1623/ba00d855b4f9061f4f7c294506753f58bf33ac28453a8de4.png?w=440&thumb=false" alt="">
		</div>
			<p>Call of Duty®</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/c43634250d3be777a32ff55980ebe29889ad6cc4a337d3b5.png?w=440&thumb=false" alt="">
		</div>
			<p>Fortnite</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202202/1517/UyPJCxbE3EoeLtUxjoFBnsD4.png?w=440&thumb=false" alt="">
		</div>
			<p>Cyberpunk 2077</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202207/2509/85p2Dwh5iDhUzRKe40QeNYh3.png?w=440&thumb=false" alt="">
		</div>
			<p>Resident Evil 4</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png?w=440&thumb=false" alt="">
		</div>
			<p>Marvel's Spider-Man 2</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/K6mmm89oNII1iI1aqaClO0wh.png?w=440&thumb=false" alt="">
		</div>
			<p>Grand Theft Auto V (PlayStation®5)</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440&thumb=false" alt="">
		</div>
			<p>Mortal Kombat 1</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/img/rnd/202104/2507/Xdncb153Sz5UZMaF0X944NP5.png?w=440&thumb=false" alt="">
		</div>
			<p>Genshin Impact: 3º Aniversário</p>
	</div>
	<div class="card__container" >
		<div class="card__link">
			<img class="card__img"src="https://image.api.playstation.com/vulcan/ap/rnd/202309/0511/dd2730f53d70dd353b17e2c01398e82acf29d60cc4c1fe4c.png?w=440&thumb=false" alt="">
		</div>
			<p>eFootball™ 2024</p>
	</div>

</div>
<button class="button direita" (click)="scrollDireita()">&#8250;</button>
</div>


